In [47]:
import pandas as pd
import numpy as np
import datetime
from dateutil.relativedelta import relativedelta
from datetime import date
 
 
date1 = pd.Series(pd.date_range('2012-1-1 12:00:00', periods=7, freq='M'))
date2 = pd.Series(pd.date_range('2013-3-11 21:45:00', periods=7, freq='W'))
date3 = pd.Series(pd.date_range('2014-2-6 16:45:00', periods=7, freq='W'))
df = pd.DataFrame(dict(Start_date = date1, Mid_date = date2, End_date = date3))
print(df)

           Start_date            Mid_date            End_date
0 2012-01-31 12:00:00 2013-03-17 21:45:00 2014-02-09 16:45:00
1 2012-02-29 12:00:00 2013-03-24 21:45:00 2014-02-16 16:45:00
2 2012-03-31 12:00:00 2013-03-31 21:45:00 2014-02-23 16:45:00
3 2012-04-30 12:00:00 2013-04-07 21:45:00 2014-03-02 16:45:00
4 2012-05-31 12:00:00 2013-04-14 21:45:00 2014-03-09 16:45:00
5 2012-06-30 12:00:00 2013-04-21 21:45:00 2014-03-16 16:45:00
6 2012-07-31 12:00:00 2013-04-28 21:45:00 2014-03-23 16:45:00

In [51]:
df['diff_days'] = df['End_date'] - df['Start_date']
df['diff1_days'] = df['End_date'] - df['Mid_date']
df['diff2_days'] = df['Mid_date'] - df['Start_date']

df['diff_days']=df['diff_days']/np.timedelta64(1,'D')
 
print(df)

           Start_date            Mid_date  ...        diff1_days        diff2_days
0 2012-01-31 12:00:00 2013-03-17 21:45:00  ... 328 days 19:00:00 411 days 09:45:00
1 2012-02-29 12:00:00 2013-03-24 21:45:00  ... 328 days 19:00:00 389 days 09:45:00
2 2012-03-31 12:00:00 2013-03-31 21:45:00  ... 328 days 19:00:00 365 days 09:45:00
3 2012-04-30 12:00:00 2013-04-07 21:45:00  ... 328 days 19:00:00 342 days 09:45:00
4 2012-05-31 12:00:00 2013-04-14 21:45:00  ... 328 days 19:00:00 318 days 09:45:00
5 2012-06-30 12:00:00 2013-04-21 21:45:00  ... 328 days 19:00:00 295 days 09:45:00
6 2012-07-31 12:00:00 2013-04-28 21:45:00  ... 328 days 19:00:00 271 days 09:45:00

[7 rows x 6 columns]